body {
    background-color: black;
    color: white;
}

p, p1 {
    font-family: Monospace, sans-serif;
}

h1, h2 {
    font-family: Monospace, sans-serif;
}

title {
    font-family: Monospace, sans-serif;
}
